<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <springProperty name="elkDestination" source="logback.elk.destination" />
    <springProperty name="msName" source="spring.application.name" />
    <springProperty name="environment" source="spring.profiles.active" />

    <!--<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern> %d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%M - %msg%n </pattern>
        </encoder>
    </appender>-->

    <springProfile name="!local">

        <appender name="logstash"
                  class="net.logstash.logback.appender.LogstashTcpSocketAppender">
            <destination>${elkDestination}</destination>
            <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
                <providers>
                    <timestamp/>
                    <mdc/>
                    <logLevel/>
                    <loggerName/>
                    <threadName/>
                    <message/>
                    <stackTrace/>
                </providers>
            </encoder>
        </appender>

        <root level="info">
            <appender-ref ref="logstash"/>
        </root>

    </springProfile>

    <springProfile name="local">
        <root level="info"/>
    </springProfile>

    <!-- Silenciar advertencias de TLSv1 del driver de SQL Server -->
    <logger name="com.microsoft.sqlserver.jdbc.internals.TDS.Channel"
            level="ERROR"
            additivity="false"/>

</configuration>